          · • —– ٠ ✤ ٠ —–· · • —– ٠ ✤ ٠ —– • ·

     This is the EPFL installation of Mastodon ({{ inventory_mode }})

       Documentation: https://go.epfl.ch/mastodon 
       Source code:   https://github.com/epfl-si/mastodon.ops
       Contact:       isas-fsd@groupes.epfl.ch
       Deployed on:   https://{{ inventory_hostname }}

          · • —– ٠ ✤ ٠ —–· · • —– ٠ ✤ ٠ —– • ·
