-- Initialization scripts
-- See https://hub.docker.com/_/postgres

CREATE USER {{ mastodon_postgresql_user }} WITH PASSWORD '{{ mastodon_postgresql_password }}' CREATEDB;
CREATE DATABASE {{ mastodon_postgresql_database }} OWNER {{ mastodon_postgresql_user }};
